pandas
numpy
cython
scipy
h5py==3.1.0
pymysql
keras==2.6.0
pyqt5==5.13
finance-datareader
fastapi[all]
uvicorn[standard]
gunicorn
tensorflow==2.6.0
scikit-learn
beautifulsoup4
sqlalchemy==1.4.22
xmltodict
opendartreader
cryptography
konlpy
tweepy==3.7.0
